services:
  app:
    build: .
    container_name: wallet-point-app
    ports:
      - "8080:8080"
    environment:
      - SERVER_HOST=0.0.0.0
      - PORT=8080
      - GIN_MODE=debug
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_NAME=wallet_point
      - JWT_SECRET=super_secure_jwt_secret_change_me
    depends_on:
      db:
        condition: service_healthy
    networks:
      - wallet-network
    restart: always

  db:
    image: mysql:8.0
    container_name: wallet-point-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: wallet_point
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wallet-network
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: wallet-point-pma
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - wallet-network
    restart: always

networks:
  wallet-network:
    driver: bridge

volumes:
  db_data:
