basePath: /api/v1
definitions:
  auth.LoginRequest:
    properties:
      email:
        type: string
      password:
        minLength: 6
        type: string
    required:
    - email
    - password
    type: object
  auth.LoginResponse:
    properties:
      token:
        type: string
      user:
        $ref: '#/definitions/auth.UserSummary'
    type: object
  auth.PublicRegisterRequest:
    properties:
      email:
        type: string
      full_name:
        type: string
      nim_nip:
        type: string
      password:
        minLength: 6
        type: string
    required:
    - email
    - full_name
    - nim_nip
    - password
    type: object
  auth.RegisterRequest:
    properties:
      email:
        type: string
      full_name:
        type: string
      nim_nip:
        type: string
      password:
        minLength: 6
        type: string
      role:
        enum:
        - admin
        - dosen
        - mahasiswa
        type: string
    required:
    - email
    - full_name
    - nim_nip
    - password
    - role
    type: object
  auth.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      full_name:
        type: string
      id:
        type: integer
      nim_nip:
        type: string
      role:
        type: string
      status:
        type: string
      updated_at:
        type: string
    type: object
  auth.UserSummary:
    properties:
      balance:
        type: integer
      email:
        type: string
      full_name:
        type: string
      id:
        type: integer
      nim_nip:
        type: string
      role:
        type: string
      status:
        type: string
    type: object
  utils.Response:
    properties:
      data: {}
      errors: {}
      message:
        type: string
      success:
        type: boolean
    type: object
host: bewallet-point-production.up.railway.app
info:
  contact:
    email: support@campus.edu
    name: API Support
  description: Platform Wallet Point Gamifikasi Kampus - Backend API
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Wallet Point API
  version: "1.0"
paths:
  /admin/users:
    post:
      consumes:
      - application/json
      description: Create a new user account (Admin only)
      parameters:
      - description: User details
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/auth.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            allOf:
            - $ref: '#/definitions/utils.Response'
            - properties:
                data:
                  $ref: '#/definitions/auth.User'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utils.Response'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/utils.Response'
      security:
      - BearerAuth: []
      summary: Admin register new user
      tags:
      - Admin
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return JWT token
      parameters:
      - description: Login credentials
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/auth.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/utils.Response'
            - properties:
                data:
                  $ref: '#/definitions/auth.LoginResponse'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utils.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/utils.Response'
      summary: User login
      tags:
      - Auth
  /auth/me:
    get:
      description: Get authenticated user profile
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/utils.Response'
            - properties:
                data:
                  $ref: '#/definitions/auth.User'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/utils.Response'
      security:
      - BearerAuth: []
      summary: Get current user
      tags:
      - Auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Create a new mahasiswa account (Public)
      parameters:
      - description: User details
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/auth.PublicRegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            allOf:
            - $ref: '#/definitions/utils.Response'
            - properties:
                data:
                  $ref: '#/definitions/auth.User'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/utils.Response'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/utils.Response'
      summary: Self registration
      tags:
      - Auth
schemes:
- https
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
